@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700);

img {
  width: 100%;
}

h2 {
  color: rgba(30, 35, 70,0.8);
  margin-top:0.3em; 
}

h2 + h3 {
  margin-top: 0;
  color: rgba(30, 35, 70,0.5);
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 22px;
}

.footer {
  text-align: center;
  color: #222;
  padding: 26px 0;
}

li.active a {
  border-bottom: 6px solid #eee;
}

div.band img {
  width: 19.9%;
  float:left;
}
